.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(158, 147, 147, 0.95);
    border-radius: 5px;
    border: 3px solid black;
    padding: auto;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover{
    transform: scale(1.05);
}

.img{
    width: 250px;
    height: 350px;
    object-fit: cover;
    padding: 14px;
    
}


  .card-name {
    color: #333; 
    
  }



  .all-carac {
    background-color: rgba(67, 63, 63, 0.3); 
    padding: 16px;
    border-radius:5px; 
  }

  