.form-container {
    max-width: 600px;
    margin:  auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(109, 103, 103, 0.95);
  }
  
  .form-form {
    display: flex;
    flex-direction: column;
  }
  
  .all-div {
    margin-bottom: 25px;
  }
  
  .only-label {
    margin: 10px;
    size: 10px;
    font-weight: bold;
    padding: 5px;
  }
  
  .only-input[type="text"],
  .only-input[type="name"],
  .only-input[type="lastName"],
  .only-input[type="nationality"],
  .only-input[type="birthDate"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
  }

  .only-input[type="description"]{
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .only-span {
    width: 50%;
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  
  .good-span{
    width: auto;
    color:rgb(27, 213, 27);
    font-size: 14px;
    font-weight: bold;
  }


  /* Style the submit button if you have one */
  .boton-form[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .boton-form[type="submit"]:hover {
    background-color: #0056b3;
  }